@using LAHJA.UI.Components.Auth

@using LAHJA.Data.UI.Templates.Auth

@inject LAHJA.Data.UI.Templates.Auth.TemplateAuth Template


@if(Template!=null){

    <div Class="p-5">
    <MudCard Class="m-auto d-flex flex-column justify-content-center align-items-center">
            
            <ForgetPasswordForm  Message="@Message" OnSubmited="Template.BuilderComponents.SubmitedForgetPassword" />
    </MudCard>
</div>
}
@code{

 [Parameter] public string Message { set; get; }


    // protected override void OnInitialized()
    // {



    //     responseMessage = Template


    // }

    // private LAHJA.Data.UI.Templates.Auth.TemplateAuth template = new LAHJA.Data.UI.Templates.Auth.TemplateAuth();



}